@charset "UTF-8";

.bg-custom {
  background-color: rgb(252, 73, 0);
}

.navbar .nav-item:hover .nav-link {
  background-color: rgb(240, 240, 240);
  color: rgb(47, 47, 47);
  border-radius: 15px;
}

.index-home {
	background-color: white;
}