.bg-custom {
  background-color: #2196f3;
}

.navbar .nav-item:hover .nav-link {
  background-color: rgb(240, 240, 240);
  color: rgb(47, 47, 47);
  border-radius: 15px;
}

.index-home {
  background-color: rgb(255, 255, 255);
}
